<div class="container">
    <form [formGroup]="addProductForm" (ngSubmit)="onUpdate(productObj['id'])">
        <div class="form-group">
            <label for="name">Product Name: </label>
            <input type="text" name="supplier"
                class="form-control ml-2" 
                placeholder="Product Name"
                formControlName="name">
        </div>
        <div class="alert alert-danger mt-2" 
            role="alert"
            *ngIf="addProductForm.get('name').errors?.required && addProductForm.get('name').touched">
            Product Name is required
        </div>
        <div class="form-group">
            <label for="supplier">Supplier: </label>
            <input type="text" name="supplier"
                class="form-control ml-2" 
                placeholder="Enter Supplier"
                formControlName="supplier">
            <select formControlName="supplier" >
                <option *ngFor="let s of suppliers">{{s}}</option>
            </select>
        </div>
        <div class="alert alert-danger mt-2" 
            role="alert"
            *ngIf="addProductForm.get('supplier').errors?.required && addProductForm.get('supplier').touched">
            Supplier is required
        </div>
        <div class="form-group">
            <label for="category">category: </label>
            <input type="text" name="category"
                class="form-control ml-2" 
                placeholder="Enter Category"
                formControlName="category">
            <select formControlName="category" >
                <option *ngFor="let c of categories">{{c}}</option>
            </select>
        </div>
        <div class="alert alert-danger mt-2" 
            role="alert"
            *ngIf="addProductForm.get('category').errors?.required && addProductForm.get('category').touched">
            category is required
        </div>
        <div class="form-group">
            <label for="qty">Quantity: </label>
            <input type="text" name="Quantity"
                class="form-control ml-2" 
                placeholder="Enter Quantity"
                formControlName="quantity">
        </div>
        <div class="alert alert-danger mt-2" 
            role="alert"
            *ngIf="addProductForm.get('quantity').errors?.required && addProductForm.get('quantity').touched">
            Quantity is required
        </div>
        <div class="form-group">
            <label for="price">price:  </label>
            <input type="text" name="price"
                class="form-control ml-2" 
                placeholder="Enter Price"
                formControlName="price">
        </div>
        <div class="alert alert-danger mt-2" 
            role="alert"
            *ngIf="addProductForm.get('price').errors?.required && addProductForm.get('price').touched">
            price is required
        </div>
        <div class="form-group">
            <label for="discounted">discounted: </label>
            <br>
            <!-- <input type="text" name="discounted"
                class="form-control ml-2" 
                placeholder="Enter discounted"
                formControlName="discounted"> -->
                <input id="Yes" type="radio" value="Yes" name="discounted" (change)="isShowDiscount($event)" formControlName="discounted">
                <label for="Yes">Yes</label>
                <input id="No" type="radio" value="No" name="discounted" (change)="isShowDiscount($event)" formControlName="discounted">
                <label for="No">No</label>
        </div>
        <div class="alert alert-danger mt-2" 
            role="alert"
            *ngIf="addProductForm.get('discounted').errors?.required && addProductForm.get('discounted').touched">
            discounted is required
        </div>
        <div class="form-group" *ngIf="isShow">
            <label for="discount">discount: </label>
            <input type="text" name="discount"
                class="form-control ml-2" 
                placeholder="Enter discount"
                formControlName="discount">
        </div>
        <div class="alert alert-danger mt-2" 
            role="alert"
            *ngIf="addProductForm.get('discount').errors?.required && addProductForm.get('discount').touched">
            discount is required
        </div>
        <div>
            <button type="submit"  
                class="btn btn-block btn-primary" (click)="isShowModal()">
                Update
            </button>
        </div>
    </form>
</div>
