<div class="container">
  <h2><b>Product</b></h2>
  <div>
    <div class="row">
      <div class="main col-xs-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Id/Name" [(ngModel)]="searchItem"
            (input)="filterProduct($event)">
        </div>
      </div>
      <div class="col-xs-4 pt-3" style="margin-top:5px">
        <div class="dropdown">
          <select id="supplier" class="btn btn-light" (change)="filterProduct($event,'supplier')">
            <option value="Supplier">Supplier</option>
            <option *ngFor="let supplier of suppliers">
              {{supplier}}
            </option>
          </select>
        </div>
      </div>&nbsp;
      <div class="col-xs-4 pt-3">
        <div class="dropdown">
          <select id="categories" class="btn btn-light" (change)="filterProduct($event,'category')">
            <option value="Category">Category</option>
            <option *ngFor="let category of categories">
              {{category}}
            </option>
          </select>
          <button type="button" class="btn btn-info" (click)="exportToExcel()" style="float: right;">
            Excel
          </button>
          <button type="button" class="btn btn-primary" (click)="open(content)" style="float: right;">
            Add
          </button>
        </div>
      </div>

    
    <!-- product table -->
    <table class="table table-hover">
      <thead>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Supplier</th>
        <th>Catogary</th>
        <th>Price</th>
        <th>Discounted</th>
        <th>Discount</th>
        <th>More</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products |  slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.supplier}}</td>
          <td>{{product.category}}</td>
          <td>{{product.price}}</td>
          <td>{{product.discounted}}</td>
          <td>
            <ng-container *ngIf="(product.discounted == 'Yes')">
              <input type="text" [(ngModel)]="product.discount">%
            </ng-container>
            <ng-container *ngIf="(product.discounted == 'No')">
              -
            </ng-container>
          </td>
          <td>
            <button type="button" class="btn btn-primary" (click)="opencenterModal(product)">
              edit
            </button>
            
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize">
      </ngb-pagination>
    </div>
  </div>
</div>