<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="Name">CustomerName</label>
        <input type="text" class="form-control" formControlName="customerName">
    </div>
    <div class="alert alert-danger mt-2" role="alert"
        *ngIf="orderForm.get('customerName').errors?.required && orderForm.get('customerName').touched">
        Customer Name is required
    </div>

    <div class="form-group">
        <label for="Name">Address</label>
        <input type="text" class="form-control" formControlName="address">
    </div>
    <div class="alert alert-danger mt-2" role="alert"
        *ngIf="orderForm.get('address').errors?.required && orderForm.get('address').touched">
        Addresss is required
    </div>

    <div class="form-group">
        <label for="Name">City</label>
        <input type="text" class="form-control" formControlName="city">
    </div>
    <div class="alert alert-danger mt-2" role="alert"
        *ngIf="orderForm.get('city').errors?.required && orderForm.get('city').touched">
        City is required
    </div>

    <div class="form-group">
        <label for="Name">Shipper</label>
        <input type="text" class="form-control" formControlName="shipper">
    </div>
    <div class="alert alert-danger mt-2" role="alert"
        *ngIf="orderForm.get('shipper').errors?.required && orderForm.get('shipper').touched">
        Shipper is required
    </div>

    <div class="form-group">
        <label for="Name">Order Date</label>
        <input type="date" class="form-control" formControlName="orderDate">
    </div>
    <div class="alert alert-danger mt-2" role="alert"
        *ngIf="orderForm.get('orderDate').errors?.required && orderForm.get('orderDate').touched">
        order Date is required
    </div>

    <div class="form-group">
        <label for="Name">OrderTotal</label>
        <input type="number" class="form-control" formControlName="orderTotal">
    </div>
    <div class="alert alert-danger mt-2" role="alert"
        *ngIf="orderForm.get('orderTotal').errors?.required && orderForm.get('orderTotal').touched">
        order Total is required
    </div>

    <br>

    <button type="submit" class="btn btn-success" [disabled]="!orderForm.valid">
        Submit
    </button>
</form>