<div class="body">
  <div class="container">
    <h2><b>Products</b></h2>
    <div class="row">
      <div class="col-xs-4 pt-3" style="margin-top:5px">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Id/Name" [(ngModel)]="searchItem"
            (input)="filterProduct($event)">
        </div>
      </div>&nbsp;
      <div class="col-xs-4 pt-3" style="margin-top:5px">
        <div class="dropdown">
          <select id="supplier" class="btn btn-light" (change)="filterProduct($event,'supplier')">
            <option value="Supplier">Supplier</option>
            <option *ngFor="let supplier of suppliers">
              {{supplier}}
            </option>
          </select>
        </div>
      </div>&nbsp;
      <div class="col-xs-4 pt-3" style="margin-top:5px">
        <div class="dropdown">
          <select id="categories" class="btn btn-light" (change)="filterProduct($event,'category')">
            <option value="Category">Category</option>
            <option *ngFor="let category of categories">
              {{category}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-xs-4 pt-3" style="margin-left:420px">
        <button type="button" class="btn btn-primary" (click)="openSideModal(content)">
          Add
        </button>

      </div>&nbsp;
      <div class="col-xs-4 pt-3">
        <button type="submit" class="btn btn-success" (click)="exportToExcel()" style="float:right;">
          Export to Excel</button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name: <i [ngClass]="arrow.title" class="arrow" (click)="sort('name')"></i></th>
            <th scope="col">Supplier: <i [ngClass]="arrow.title" class="arrow" (click)="sort('supplier')"></i></th>
            <th scope="col">Category: <i [ngClass]="arrow.title" class="arrow" (click)="sort('category')"></i></th>
            <th scope="col">Price: <i [ngClass]="arrow.title" class="arrow" (click)="sort('price')"></i></th>
            <th scope="col">Discounted</th>
            <th scope="col">Discount</th>
            <th scope="col">Discounted Price</th>
            <th scope="col">More</th>
          </tr>
        </thead>
        <div *ngIf="isShowSpinner">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <tbody>
          <tr *ngFor="let product of products| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.supplier}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price}}</td>
            <td>{{product.discounted}}</td>
            <ng-container *ngIf="product.discounted==discount; else elseBlock">
              <!-- <td>
                <input type="number" class="form-control" name="discount" id="discount" #discountinput="ngModel"
                  [(ngModel)]="product.discount" required />
                <div *ngIf="discountinput.invalid && (discountinput.touched || discountinput.dirty)">
                  <div *ngIf="discountinput.errors?.required" class="alert alert-danger">
                    Field is Required
                  </div>
                </div>
              </td> -->
              <td>

                <input type="text" class="form-control" pattern="^([1-9]|[1-4][0-9]|50)$" id="discount"
                  [(ngModel)]="product.discount" (input)="chnageDiscount($event,product)" #discountinput="ngModel"
                  [appInputBorderColor]="product.discount" size="6"required>
                <div *ngIf="discountinput.invalid">
                  <div *ngIf="discountinput.errors?.required" class="alert alert-danger">
                    Field is Required
                  </div>
                  <div *ngIf="discountinput.errors?.pattern" class="alert alert-danger">
                    Discount must be between 1 to 50
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-template #elseBlock>
              <td>--</td>
            </ng-template>

            <td>{{(product.price * (100-product.discount))/100}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="openCenterModal(product)">
                edit
              </button>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize">
        </ngb-pagination>
      </div>
    </div>
  </div>