<div class="container">
  <h2><b>Product</b></h2>
<div>
  <label for="search">Search: </label>
  <input type="text" placeholder="Name or Id">
  <select >
    <option *ngFor="let s of suppliers">{{s}}</option>
  </select>
  <select >
    <option *ngFor="let c of categories">{{c}}</option>
  </select>
  <!-- <button (click)="add()" class="btn btn-secondary">AddProduct</button> -->
    <button type="button" class="btn btn-primary"  (click) ="isShowModal()" style="float: right;" data-toggle="modal" data-target="#myModal">
      add
    </button>

  <!-- product table -->
<table class="table table-hover">
    <thead>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Supplier</th>
      <th>Catogary</th>
      <th>Price</th>
      <th>Discounted</th>
      <th>Discount</th>
      <th>More</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td >{{p.id}}</td>
        <td >{{p.name}}</td>
        <td >{{p.supplier}}</td>
        <td >{{p.category}}</td>
        <td >{{p.price}}</td>
        <td >{{p.discounted}}</td>
        <td >
          <ng-container *ngIf="(p.discounted == 'Yes')">
            <input type="text" [(ngModel)]="p.discount">%
          </ng-container>
          <ng-container *ngIf="(p.discounted == 'No')">
            -
          </ng-container>
        </td>
        <td >
          <!-- <button type="button" class="btn btn-primary"  (click) ="showModal=true" data-toggle="modal" data-target="#myModal">
            edit
          </button> -->
          <button class="btn btn-info"  
          [routerLink]="['/master/edit',p.id]" routerLinkActive="router-link-active">Edit</button>
        </td>
     </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <pagination [totalItems]="collectionSize" [(ngModel)]="page" (click)="onPageClick()">
    </pagination>
  </div>
</div>

<!-- popup model -->
<div class="modal" id="myModal" [ngClass]="{'show':_ProductService.showModal}" >
  <div class="modal-dialog" >
    <div class="modal-content">
 
      <!-- Modal Header -->.
      <div class="modal-header" >
        <h2><b>Add Product</b></h2>
        <button type="button" class="close" (click)="isShowModal()"  data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-add-product></app-add-product>
       
      </div> 

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="hideModel"  (click)="isShowModal()" class="btn btn-block btn-danger" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>  
</div>