#navbar {
	background-color:#f90;
}
#navbar .btn {
	border:0px solid transparent;
}
#navbar .btn-default.focus, #navbar .btn-default:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
#navbar li.nav-item a {
	font-weight:700;
	color:#333;
}
#navbar li.nav-item a:hover {
	color:#fff;
}
#navbar a.dropdown-item {
	font-weight:400 !important;
}
#navbar button.dropdown-toggle-split {
	background-color:transparent;
}
#navbar button.dropdown-toggle-split:hover {
	color:#fff;
}
#navbar button.dropdown-toggle-split:active {
	outline:none;
}#navbar {
	background-color:#f90;
}
#navbar .btn {
	border:0px solid transparent;
}
#navbar .btn-default.focus, #navbar .btn-default:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
#navbar li.nav-item a {
	font-weight:700;
	color:#333;
}
#navbar li.nav-item a:hover {
	color:#fff;
}
#navbar a.dropdown-item {
	font-weight:400 !important;
}
#navbar button.dropdown-toggle-split {
	background-color:transparent;
}
#navbar button.dropdown-toggle-split:hover {
	color:#fff;
}
#navbar button.dropdown-toggle-split:active {
	outline:none;
}